<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Primary Care Providers
Per 100,000 pop.
avg
LL
UL

Lacking Health Insurance
Uninsured
avg
LL
UL

Influenza Vaccination
Medicare Vaccination %
avg
LL
UL

Household Income, 80th percentile
avg
LL
UL

School Lunch Assistance Eligiblity
% of Schoolchildren
avg
LL
UL

Food Insecurity
% of Population
avg
LL
UL

Access to Exercise Space
% of population
avg
LL
UL

Residential Overcrowding
Relative Index
avg
LL
UL

Under 18 Years-old Population
% of population
avg
LL
UL

Elderly (64+ years) Population
% of population
avg
LL
UL

Residential Segregation
Index
avg
LL
UL

ECONOMIC
HEALTHCARE
STRUCTURAL
DEMOGRAPHIC
Mobility change as proxy for social distancing, by quintile low (1, left) to high (5, right)
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
