<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Primary Care Providers
Per 100,000
avg
LL
UL

Lacking Health Insurance
Uninsured
avg
LL
UL

Influenza Vaccination
Medicare Vaccination %
avg
LL
UL

Household Income (80th percentile)
avg
LL
UL

Free/Subsidized School Lunch Eligibility
avg
LL
UL

Food Insecurity
avg
LL
UL

Access to Exercise Facilities
avg
LL
UL

Residential Overcrowding
avg
LL
UL

Under 18 Years-old Population
avg
LL
UL

Elderly (64+ years) Population
avg
LL
UL

Residential Segregation Index
avg
LL
UL

DEMOGRAPHIC
STRUCTURAL
ECONOMIC
HEALTHCARE
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
